.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: 0.3s;
    transform: scale(1);
  }
  
  .popupcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 110rem;
    margin: 0 auto;
    height: 55rem;
    transform: translate(-50%, -50%);
    padding: 1.6rem;
    display: table;
    overflow: hidden;
    background-color: var(--white);
  }
  
  .popupclose {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem;
    background-color: var(--green);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .popupclose {
    font-size: 3rem;
    color: white;
  }
  
  .popupleft {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
  }
  
  .popupright {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  
  .popupimgcontainer {
    width: 100%;
    overflow: hidden;
  }
  
  .popupimgcontainer img.popupimg {
    display: block;
    width: 60rem;
    height: 45rem;
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }

  .rightcontent {
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }
  
  .rightcontent h1 {
    font-size: 4rem;
    color: #000;
    margin-bottom: 1.6rem;
  }
  
  .rightcontent h1 span {
    color: var(--green);
  }
  
  .rightcontent p {
    font-size: 1.6rem;
    color: #555;
    margin-bottom: 1.6rem;
  }
  
  .popupform {
    width: 100%;
    padding: 1.5rem 0;
    text-indent: 1rem;
    margin-bottom: 1.6rem;
    border-radius: 3rem;
    background-color: var(--green);
    color: white;
    font-size: 1.8rem;
    border: none;
  }
  
  .popupform::placeholder {
    color: white;
  }
  
  .popupform:focus {
    outline: none;
  }
  
  .rightcontent a:link,
  .rightcontent a:visited {
    display: inline-block;
    padding: 1.8rem 5rem;
    border-radius: 3rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--grey2);
    transition: 0.3s;
  }
  
  .rightcontent a:hover {
    background-color: var(--green);
    border: 1px solid var(--grey2);
    color: var(--black);
  }
  
  .hidepopup {
    transform: scale(0.2);
    opacity: 0;
    visibility: hidden;
  }

  @media only screen and (max-width: 1200px) {
    .rightcontent {
      width: 100%;
    }
  
    .rightcontent h1 {
      font-size: 3.5rem;
      margin-bottom: 1.3rem;
    }
  }
  
  @media only screen and (max-width: 998px) {
    .popupright {
      width: 100%;
    }
  
    .popupleft {
      display: none;
    }
  
    .rightcontent h1 {
      font-size: 5rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .rightcontent h1 {
      font-size: 4rem;
    }
  
    .rightcontent p {
      font-size: 1.6rem;
    }
  
    .popupform {
      width: 90%;
      margin: 0 auto;
      padding: 1.8rem 0;
      margin-bottom: 1.5rem;
    }
  
    .gototop:link,
    .gototop:visited {
      right: 5%;
      bottom: 5%;
    }
  }
  
  @media only screen and (max-width: 568px) {
    .popupright {
      padding: 0 1.6rem;
    }
  
    .popupcontent {
      height: 35rem;
      width: 90%;
      margin: 0 auto;
    }
  
    .rightcontent {
      width: 100%;
    }
  
    .rightcontent h1 {
      font-size: 3rem;
    }
  
    .rightcontent p {
      font-size: 1.4rem;
    }
  
    .popupform {
      width: 100%;
      padding: 1.5rem 0;
      margin-bottom: 1.3rem;
    }
  
    .rightcontent a:link,
    .rightcontent a:visited {
      padding: 1.5rem 3rem;
    }
  
    .popupclose {
      top: 1rem;
      right: 1rem;
      padding: 0.5rem;
    }
  }